<html>
<head>
  <base href="." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/static/icons/favicon.ico" />
  <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png" />
  <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
  <div class="background">
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
  </div>

  <div class="particles" id="particles"></div>

  <div class="container">
    <a href="http://matveymatvey.ru/story_generator" class="button">Fairytale Generator</a>
    <a href="http://matveymatvey.ru/painter" class="button">Painter</a>
    <!-- <a href="https://example.com/service3" class="button">Custom Solutions</a> -->
  </div>

  <!-- Credits Section -->
  <div class="credits">
    <p>dev: Matvey Zaikov</p>
    <p>link: <a href="https://github.com/matveeey/web-painter">Github</a></p>
  </div>

  <script src="/static/js/script.js"></script>
</body>
</html>